/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

#logo{
    height: 40px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
}

.bg-white{
    background-color: white;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.c-w{
    color: white;
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header{
    background-color: orangered;
    box-shadow: 0 1px 3px gray;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar > div{
    flex-basis: calc(100% / 3);
}

.navbar ul{
    display: flex;
    gap: 10px;
}

.navbar-right ul{
    justify-content: flex-end;
}

/* Main */

main{
    padding: 150px;
}

.row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(100% / 3 - 20px / 3);
}

.card{
    position: relative;
    cursor: pointer;
   
}

.price{
    color: red;
    font-weight: bold;
}

.model{
    font-weight: bold;
}

.discount{
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 2px 5px;
}

.vision{
    position: absolute;
    bottom: 100px;
    left: 60px;
    padding: 2px 5px;
}

.like{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 25px;
    padding: 5px 10px;
}

.black-vision{
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 2px 5px;
}

.second-img{
    display: none;
}


.card:hover .main-img{
    display: none;
}

.card:hover .second-img{
    display: block;
}

/* Footer >*/

 footer{
    height: 100px;
    background-color: black;
    width: 100%;
    color: white;
    
 }

 .flex{
    height: 100px;
    display: flex;
    justify-content: space-between;
 }

 .info{
    padding-bottom: 5px;
 }
 